<div class="container"> 
 <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: -15px; width: 1000px; height: 500px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 90%; height: 100%;"></div>
            
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1000px; height: 600px; overflow: hidden;">
        

                <div data-p="225.00" style="display: none;">
                	  <%= image_tag ("unspecified.jpg"),:data => { :u => 'image'} %>
             </div>
             
              <div data-p="225.00" style="display: none;">
              
                 <%= image_tag ("unspecified1.jpg"),:data => { :u => 'image'} %>  
             </div>
             
              <div data-p="225.00" style="display: none;">

                 <%= image_tag ("unspecified2.jpg"),:data => { :u => 'image'} %> 
                 
             </div>
               
            </div>
            
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
    
    <script>
        jssor_1_slider_init();
    </script>
    
   
    
     <div class="col-md-12">
   <h3 class="center title">Toimintaamme ohjaavat  <strong> seuraavat arvot: </strong> </h3>
     <span class="sepretorefortitle"></span>
    </div>
   <div class="container-fluid">
    <div class="col-md-6 shado_cover">
    <div class="col-md-12 shedo_box center sepretore_border">
      
       <%= image_tag ("icon.png"), :class => "icons" %>
      <h4> Asiakkaan menestyminen </h4>
    <p class="">
     Laadukkailla ja kustannustehokkailla mainosratkaisuilla autamme asiakkaitamme menestymään.
Osaamme ja haluamme asettua asiakkaan asemaan sekä tunnemme heidän liiketoimintansa ja tavoitteensa.
   </p>  
   </div>
    </div>
    <div class="col-md-6 shado_cover">
    <div class="col-md-12 shedo_box center sepretore_border">
       <%= image_tag ("12.jpg"), :class => "icons" %>
      <h4> Kehitys </h4>
    <p class="">
    Kehitämme osaamistamme jatkuvasti ja haluamme olla erottuva ulkomainonnan edelläkävijä.
Haemme aktiivisesti uusia, entistä tehokkaampia mainosratkaisuja. Olemme innovatiivinen, kilpailukykyisistä ja luovista ratkaisuista tunnettu yritys.
      <br>
   </p>  
   </div>
    </div>
    </div> 
    <div class="container-fluid"/div>
    <div class="col-md-6 shado_cover">
    <div class="col-md-12 shedo_box center sepretore_border">
     <%= image_tag ("13.jpg"), :class => "icons" %>
      <h4> Arvon tuottaminen </h4>
    <p class="">
     Tuotamme asiakkaidemme liiketoiminnalle lisäarvoa ja tuloksia. Kasvamme yrityksenä kannattavasti. Luomme itsellemme viihtyisän, avoimen ja epäbyrokraattisen työyhteisön.
   </p>  
   </div>
    </div>
     <div class="col-md-6 shado_cover">
    <div class="col-md-12 shedo_box center sepretore_border">
      
       <%= image_tag ("14.jpg"), :class => "icons" %>
      <h4>Yhteistyö ja vastuullisuus</h4>
    <p class="">
    Toimimme avoimesti, luotettavasti ja kumppaneitamme arvostaen. Sitoudumme yhteisiin tavoitteisiin ja ymmärrämme turvallisuuden ja mainonnan sääntöjen merkityksen.
   </p>  
   </div>
    </div>
 </div>
 </div>
 
 <!-----------container close ------------>
 </div>